body {
    background-color: greenyellow;
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: large;
}

div {
    width: 40%;
    margin: auto;
}

select {
    font-family: "Comic Sans MS";
    border: 2px solid #f00ff0;
    background-color: #43cdfe;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s;
}

select:hover {
    opacity: 1;
}